.answer-item{
    display: block;
    width: 100%;
    padding: .55rem .45rem;
    cursor: pointer;
    background: rgba(255,255,255,.2);
    border-radius: 5px;
    transition: .3s background, color ease;
}

.answer-item:hover{
    margin-bottom: 0;
    color: #000;
    background: rgba(255,255,255,.7);
}