.app{
    max-width: 920px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
    grid-gap: 10px;
}

.content{
    background-color: darkseagreen;
    padding: 2rem 1rem;
    color: #fff;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}