.menu-toggle{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 51;
    transition: .3s left ease;
}

.opened{
    left: 350px;
}