.input{
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color :#000;
    transition: .3s all ease;
}

.input input {
    padding: 7px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    transition: .3s all ease;
}

.input.invalid label {
    color: tomato;
}
.input.invalid input{
    border-color: tomato;
}

input.valid label {
    color: lightgreen;
}

.error{
    color: tomato;
    font-weight: bold;
}