.active-quiz{
    
}

.active-quiz-answers{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.active-quiz-answers li {
    margin-bottom: 10px;
}

.active-quiz-question{
    display: flex;
    justify-content: space-between;
}

.active-quiz-answers li:last-child{
    margin-bottom: 0;
}

